{% extends "base.html" %}
{% block title %}Feeling Lucky!{% endblock %}
{% block heading %}For you{% endblock %}

{% block content %}

<form action="#" method="POST" onsubmit="return False">
    <div class="form-group">

        <div class="card">
            <div class="card-body" style="padding:20px">
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Admission Number</label>
                        <input type="text" class="form-control" name="adm_no" id="adm_n" value={{adm_no}}>
                    </div>

                </div>
                <div class="form-row">
                    <div class="col-md-4" style="padding-top:20px;padding-bottom:20px">
                        <input type="submit" value="Sign in" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

<div class="alert alert-info" role="alert">
    {{msg}}
</div>



<div class="">
    {% autoescape off %}
    {{res}}
    {% endautoescape %}
</div>



{% endblock %}